<div class="form">
  <%= form_for movie, :html => {:class => "form-horizontal"} do |m| %>
    <fieldset>
      <div class="form-group">
        <%= m.label :title, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= m.text_field :title, class: 'form-control' %>
        </div>
      </div>


      <div class="form-group">
        <%= m.label :storyline, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= m.text_field :storyline, class: 'form-control'  %>
        </div>
      </div>


      <div class="form-group">
        <%= m.label :release, class: 'col-lg-2 control-label'%>
        <div class="col-lg-3">
          <%= m.date_select :release, { :start_year => Date.current.year, :end_year => 1900 }, { class: 'form-control'} %>
        </div>
      </div>


      <div class="form-group">
        <%= m.label :genre , class: 'col-lg-2 control-label'%>
        <div class="col-lg-10">
          <%= m.collection_check_boxes(:genre_ids, Genre.all, :id, :title, {}, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group">
        <%= m.label :link, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= m.text_field :link, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= m.submit "Submit", class: 'btn btn-default' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
