<div class="col-sm-offset-4 col-sm-4">
  <h3><%= @movie.title %></h3>
  <p><%= truncate(@movie.storyline, length: 200) %></p>
  <p><%= @movie.release %></p>
  <p><%= @movie.genre.title %></p>
  <p><a href="<%= @movie.link %>">IMDB</a></p>

  <%= link_to "Edit movie", edit_movie_path(@movie) %>
  <%= link_to "Delete movie", movie_path(@movie), method: :delete %>
</div>
